# Environment and Cache
.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
.env

# Python packaging
build/
dist/
*.egg-info/

# MacOS
.DS_Store
*.DS_Store

# Logs and Data
/data/
/logs/
/src2logs/

.vscode
